#header {
    height: 48px;
    
}

#logo {
    align-items: center;
    margin-top: 5px;
    padding-left: 50%;
    padding-right: 50%;
}

#search_box {
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    width: 400px;
    height: 25px;
}

button {
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 24px;
}

button:hover {
    background-color: green;
}

#search_box {
    justify-content: center;
}