* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */

.header {
    display: flex;
    justify-content: end;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.header a {
    margin-right: 20px;
    color: rgb(0, 0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover {
    text-decoration: underline;
}

.header .header_apps {
    margin-right: 10px;
    color: gray;
    cursor: pointer;
}

.header .header_account {
    cursor: pointer;
}

.mainbody {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

#logo {
    object-fit: contain;
    height: 100px;
}

.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 500px;
}

.search_input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_input:hover {
    border: solid 1px grey;
}

.search_input .material-icons {
    color: gray;
}

.search_input .mic {
    cursor: pointer;
}

.search_buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search_buttons button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}

.search_buttons button:hover {
    border: solid 1px gray;
    border-radius: 5px;
}